<div class="d-flex align-items-center justify-content-center">
    <nav id="footer" class="navbar navbar-expand-lg text-center">
        <div class="container">
            <ul class="navbar-nav">
                {% assign terms = '/legal/terms-and-conditions' %}
                <li class="nav-item{% if page.url == terms %} active{% endif %}">
                    <a class="nav-link" href="{{ terms }}">Terms and Conditions</a>
                </li>

                {% assign privacy = '/legal/privacy-policy' %}
                <li class="nav-item{% if page.url == privacy %} active{% endif %}">
                    <a class="nav-link" href="{{ privacy }}">Privacy Policy</a>
                </li>

                <li class="nav-item ml-sm-auto">
                    <a class="nav-link" href="https://davidtw.co">Created by David Wood</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

{% asset app.js %}
