<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="manifest" href="/manifest.json">

  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% asset apple-touch-icon-57x57.png @path %}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset apple-touch-icon-114x114.png @path %}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset apple-touch-icon-72x72.png @path %}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset apple-touch-icon-144x144.png @path %}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% asset apple-touch-icon-120x120.png @path %}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% asset apple-touch-icon-152x152.png @path %}" />
  <link rel="icon" type="image/png" href="{% asset favicon-32x32.png @path %}" sizes="31x32" />
  <link rel="icon" type="image/png" href="{% asset favicon-16x16.png @path %}" sizes="15x16" />
  <meta name="application-name" content="West Dunbartonshire Leisure 10K"/>
  <meta name="msapplication-TileColor" content="#0088CC" />
  <meta name="msapplication-TileImage" content="{% asset mstile-144x144.png @path %}" />

  {% asset app.css %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
