@charset "UTF-8";

@import 'font-awesome-sprockets'; 
@import 'font-awesome';

$brand-primary: #0088cc;
$body-color: #5a6170;
$text-muted: #8c95a9;

@import "bootstrap";

body {
  background: linear-gradient(#fff, #f3f3f3);
  margin-top: 1em;
}

.container.limited {
  max-width: 45em;
}

.section {
  margin-top: 1em;
  margin-bottom: 1em;
}

#logo {
  margin: 0;

  img {
    max-width: 10em;
  }
}

#navigation {
  margin-top: 1em;
  margin-bottom: 1.5em;
  border-radius: 0;
  overflow: overlay;
  overflow-wrap: break-word;

  ul {
    flex-direction: row;

    li {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }
}

#sponsors {
  background-color: #fff;

  border-top: 0.1em solid #cecece;
  border-bottom: 0.1em solid #cecece;

  margin-top: 0em;
  margin-bottom: 0.75em;

  .container {
    padding: 1em 0;
  }
}

#footer {
  margin-top: 1em;
  border-radius: 0;
  overflow: overlay;
  overflow-wrap: break-word;

  ul {
    flex-direction: row;

    li {
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    color: $gray-light;
  }
}

.card.shadow {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  border: 0;
  background: white;
}

.sponsor-header {
  margin-bottom: 1em;
  margin-top: 1em;
}

.btn-facebook {
    color: #fff;
    border-color: #005f8f;
    background-color: #3b5998;

    i {
      margin-right: 0.5em;
    }

    &:hover {
      color: #fff;
      background-color: darken(#3b5998, 5%);
    }
}

.btn-download {
    color: #fff;
    border: 0;
    margin-top: 0.2em;
    margin-left: 0.25em;
    background-color: darken(#0088cc, 5%);

    &:hover {
      color: #fff;
      background-color: darken(#0088cc, 10%);
    }
}

#charity {
  margin-bottom: 0.5em;
}