@charset "UTF-8";

$brand-primary: #007bff;
$body-color: #5a6170;
$text-muted: #8c95a9;

@import "bootstrap";

body {
  margin-top: 2em;
  background: linear-gradient(#FFF, #F3F3F3);
}

#races, #sponsors, #info {
  margin-top: 2em;
}

$tiers: (
    "title": #E5E4E2,
    "gold": #FFD700,
    "silver": #C0C0C0,
    "bronze": #CD7F32,
);

@each $name, $colour in $tiers {
  .text-#{$name} { color: $colour; }
  .border-#{$name} { border-color: $colour; }
  .bg-#{$name} { background-color: $colour; }
}

.bg-gold {
  background: #D4AF37;
  background: linear-gradient(to bottom, #D4AF37 0%, #C5A028 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D4AF37), color-stop(100%, #C5A028));
  background: -webkit-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
  background: -moz-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
  background: -o-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
  background: -ms-linear-gradient(top, #D4AF37 0%, #C5A028 100%);
}

.card.shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.02);
}

.card-sponsor {
  padding: 1em;
}

#footer {
  .nav-link { color: #AEAEAE; }
}

#logo {
  margin: 0;

  img {
    max-width: 10em;
  }
}

.container.limited {
  margin-top: 2em;
  max-width: 45em;
}

.container.less-limited {
  margin-top: 2em;
  max-width: 65em;
}

.card-body-no-flex {
  padding: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

#sponsor-tier {
  margin-top: 3em;
  padding-bottom: 1em;
}

#sponsor-tier-row {
  margin-bottom: 1em;
}

.card-sponsor-line {
  border-top: 2px solid $brand-primary;
  border-bottom: 2px solid $brand-primary;
}

.banner {
  background: lighten($brand-primary, 2%);
  margin-top: 0.5em;
}

.race-metadata {
    margin-top: 1em;
}
