@charset "UTF-8";

$brand-primary: #0088cc;
$body-color: #5a6170;
$text-muted: #8c95a9;

@import "bootstrap";

body {
  background: linear-gradient(#fff, #f3f3f3);
  margin-top: 1em;
}

.container.limited {
  max-width: 45em;
}

.section {
  margin-top: 1em;
  margin-bottom: 1em;
}

#logo {
  max-width: 10em;
}

#navigation {
  margin-top: 1em;
  margin-bottom: 1.5em;
  border-radius: 0;
}

#sponsors {
  background-color: #fff;

  border-top: 0.1em solid #cecece;
  border-bottom: 0.1em solid #cecece;

  margin-top: 0em;
  margin-bottom: 0.75em;

  .container {
    padding: 1em 0;
  }

  h5 {
    margin-bottom: 1em;
  }

  img {
    max-width: 10em;
    margin: 0 1em 1em 1em;
  }
}

#footer {
  margin-top: 1em;
  border-radius: 0;
}

.card.shadow {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
  border: 0;
  background: white;
}

.sponsor-header {
  margin-bottom: 1em;
  margin-top: 1em;
}

#intro-title {
  margin-bottom: 0.5em;
}