<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <a href="/">{% img 'wd_leisure.jpg' id:'logo' class:'img-fluid d-block mx-auto' %}</a>
    <nav id="navigation" class="navbar navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">West Dunbartonshire Leisure 10K</a>
        <ul class="nav navbar-nav float-xs-left float-sm-right">
          <li class="nav-item {% if page.url == '/' %}active{% endif %}">
            <a href="/" class="nav-link">Home</a>
          </li>
          {% assign sorted_pages = site.pages | sort: 'title' %}
          {% for node in sorted_pages %}
            {% if node.include_in_nav and node.url != '/' %}
              {% if page.url == node.url %}
                <li class="nav-item active">
                  <a href="{{ node.url }}" class="nav-link">{{ node.title }}</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
