---
layout: base
---

<div class="container limited">
    <article>
        {{ content | replace: '<img', '<img class="img-fluid"' }}
    </article>
    <div class="row">
        {% assign faqs = site.data.faq | group_by: 'category' %}
        {% for faqItem in faqs %}
            <div class="col-12">
                <h3>{{ faqItem.name }}</h3>
                <p>
                    <ul>
                        {% for faq in faqItem.items %}
                            <li><a href="#faq-{{ faq.question | slugify }}">{{ faq.question }}</a></li>
                        {% endfor %}
                    </ul>
                </p>
                <dl>
                    {% for faq in faqItem.items %}
                        <dt id="faq-{{ faq.question | slugify }}">{{ faq.question }}</dt>
                        <dd>{{ faq.answer }}</dd>
                    {% endfor %}
                </dl>
            </div>
        {% endfor %}
    </div>
</div>
