---
layout: base
---
<div id="intro" class="section row">
    <article class="col-xs-12">
        {{ content }}
    </article>
</div>
<div id="races" class="section row">
    {% for race in site.data.races %}
    <div class="col-xs-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ race.title }}</h4>
                <h6 class="card-subtitle text-muted">{{ race.race_date }}</h6>
            </div>
            {% img '{{ race.image_link }}' class:'img-fluid' %}
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-7">
                        <p class="card-text">{{ race.description }}</p>
                    </div>
                    <div class="col-sm-5">
                        <dl>
                            <dt>Race Date</dt>
                            <dd>{{ race.race_date }}</dd>
                            <dt>Entry Close Date</dt>
                            <dd>{{ race.entries_closing_date }}</dd>
                            <dt>SA Affiliated Price</dt>
                            <dd>£{{ race.price.sa }}</dd>
                            <dt>Non-SA Affiliated Price</dt>
                            <dd>£{{ race.price.non-sa }}</dd>
                        </dl>                
                    </div>
                </div>
            </div>
            <div class="card-block">
                <a class="btn btn btn-primary card-link" href="{{ race.entry_link }}">Enter via StuWeb</a>
                <a class="card-link" href="{{ race.route }}">View Route</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div id="faq" class="section row">
    <div class="col-xs-12">
        <h2>FAQ</h2>
        <dl>
            {% for faq in site.data.faq %}
            <dt>{{ faq.question }}</dt>
            <dd>{{ faq.answer }}</dd>
            {% endfor %}
        </dl>
    </div>
</div>
</div><div id="sponsors" class="section text-xs-center">
    <div class="container">
        <p class="text-muted">Many thanks to our sponsors for making the series possible!</p>
        {% for sponsor in site.data.sponsors %}
        <a href="{{ sponsor.link }}">{% img '{{ sponsor.image_link }}' class:'img-fluid' %}</a>
        {% endfor %}
    </div>
</div><div class="container">
<div id="previous" class="section row">
    <div class="col-xs-12">
        <h2>Results &amp; Galleries</h2>
        {% for result in site.data.results %}
        <dl>
            <dt>{{ result.name }} Results</dt>
            <dd>
                {% for event in result.results %}
                    <a class="btn btn-link" href="{{ event.link }}">{{ event.year }}</a>
                {% endfor %}
            </dd>
        </dl>
        {% endfor %}
        {% for gallery in site.data.galleries %}
        <dl>
            <dt>{{ gallery.name }} Gallery</dt>
            <dd>
                {% for event in gallery.galleries %}
                    <a class="btn btn-link" href="{{ event.link }}">{{ event.year }}</a>
                {% endfor %}
            </dd>
        </dl>
        {% endfor %}
    </div>
</div>
<div id="contact-us" class="section row">
    <div class="col-xs-12">
        <h2>Contact Us</h2>
        <dl class="row">
            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">{{ site.data.contact.address }}</dd>
            <dt class="col-sm-3">Phone Number</dt>
            <dd class="col-sm-9">{{ site.data.contact.phone }}</dd>
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9"><a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></dd>
            <dt class="col-sm-3">Working Hrs</dt>
            <dd class="col-sm-9">{{ site.data.contact.working_hrs }}</dd>
        </dl>
    </div>
</div>