---
layout: base
---
<div class="row">
    <div class="col-xs-12">
        {{ content }}
    </div>
</div>
<div id="races" class="row">
    <div class="card-deck">
        {% for race in site.data.races %}
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ race.title }}</h4>
                <h6 class="card-subtitle text-muted">{{ race.race_date }}</h6>
            </div>
            {% img '{{ race.image_link }}' class:'img-fluid' %}
            <div class="card-block">
                <p class="card-text">{{ race.description }}</p>
            </div>
            <div class="card-block">
                <a class="btn btn btn-primary card-link" href="{{ race.entry_link }}">Enter via StuWeb</a>
                <a class="card-link" href="{{ race.route }}">Check Route</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Sponsors</h2>
        {% for sponsor in site.data.sponsors %}
        <ul>
            <li>{{ sponsor.name }}</li>
        </ul>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Previous Results</h2>
        {% for result in site.data.results %}
        <ul>
            <li>
                {{ result.name }}
                <ul>
                    {% for event in result.results %}
                    <li><a href="{{ event.link }}">{{ event.year }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h2>Previous Galleries</h2>
        {% for gallery in site.data.galleries %}
        <ul>
            <li>
                {{ gallery.name }}
                <ul>
                    {% for event in gallery.galleries %}
                    <li><a href="{{ event.link }}">{{ event.year }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>FAQ</h2>
        <dl class="row">
            {% for faq in site.data.faq %}
            <dt class="col-sm-3">{{ faq.question }}</dt>
            <dd class="col-sm-9">{{ faq.answer }}</dd>
            {% endfor %}
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Contact Us</h2>
        <dl class="row">
            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">{{ site.data.contact.address }}</dd>
            <dt class="col-sm-3">Phone Number</dt>
            <dd class="col-sm-9">{{ site.data.contact.phone }}</dd>
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{ site.data.contact.email }}</dd>
            <dt class="col-sm-3">Working Hrs</dt>
            <dd class="col-sm-9">{{ site.data.contact.working_hrs }}</dd>
        </dl>
    </div>
</div>