---
layout: base
---
<div class="container limited">
    <article>
    {{ content | replace: '<img', '<img class="img-fluid"' }}
    </article>
    {% assign sponsors = site.data.sponsors | where: 'hidden', false | group_by: 'tier' %}
    {% for tier in sponsors %}
    <div class="sponsor-header row">
        <div class="col-12">
            <h1 class="display-4">{{ tier.name }}</h1>
        </div>
    </div>
    <div class="row">
        {% for sponsor in tier.items %}
        <div class="col-sm-6">
            {% assign proper_link = sponsor.image_link | file_name %}
            <a href="{{ sponsor.link }}">{% img '{{ proper_link }}' class:'img-fluid' %}</a>
        </div>
        <div class="col-sm-6">
            <p class="lead">{{ sponsor.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    We don't have any sponsors at the moment.
    {% endfor %}
</div>