---
layout: base
---

<div class="container less-limited">
    <article class="text-center">
        {{ content | replace: '<img', '<img class="img-fluid"' }}
    </article>

    {% assign sponsors = site.sponsors | where: 'hidden', false | sort: 'order' | group_by: 'tier' %}
    {% for tier in sponsors %}
        <div id="sponsor-tier" class="text-center">
            <h1>{{ tier.name }} Sponsors</h1>
        </div>
        {% for sponsor in tier.items %}
            <div id="sponsor-tier-row" class="row">
                <div class="col-sm-4">
                    <a href="{{ sponsor.link }}"><img style="width: 100%" src="{{ sponsor.image_link }}"/></a>
                </div>
                <div class="col-sm-8">
                    <p>{{ sponsor.content }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">We don't have any sponsors at the moment.</p>
            </div>
        </div>
    {% endfor %}
</div>
