---
layout: base
---
<div class="container limited">
    <article>
    {{ content }}
    </article>
    {% assign sponsors = site.data.sponsors | group_by: 'tier' %}
    {% for tier in sponsors %}
    <div class="sponsor-header row">
        <div class="col-xs-12">
            <h1 class="display-4">{{ tier.name }}</h1>
        </div>
    </div>
    <div class="row">
        {% for sponsor in tier.items %}
        <div class="col-sm-6">
            <a href="{{ sponsor.link }}">{% img '{{ sponsor.image_link }}' class:'img-fluid' %}</a>
        </div>
        <div class="col-sm-6">
            <p class="lead">{{ sponsor.description }}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>